# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Python cache / tooling
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build files
# =========================
dist/
build/

# =========================
# Temporary files
# =========================
*.tmp
*.temp